<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  <!-- Custom config section -->
  <configSections>
    <section name="customSection"
      type="CustomConfiguration.CustomSection, Configuration" />
  </configSections>
  <customSection>
    <element id="1234" name="Myname" />
  </customSection>


  <!-- App settings -->
  <appSettings>
    <add key="MySetting" value="MyValue" />
  </appSettings>


  <!-- Built-in (System.Diagnostics) section -->
  <system.diagnostics>
    <sources>
      <source name="MySource" switchValue="Information">
        <listeners>
          <add name="MyListener" type="System.Diagnostics.ConsoleTraceListener" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>


</configuration>